In [3]:
import pandas as pd
import json
from sodapy import Socrata
import geopandas as gpd
import util
from shapely.geometry import Point
import googlemaps
import creds
%reload_ext autoreload
%autoreload 2

## Building violations

In [26]:
building_violations = util.get_data(
    "22u3-xenr", 
    limit=1000000,
    select="id, violation_date, longitude, latitude",
    where="inspection_category = 'COMPLAINT' AND inspection_status = 'FAILED' AND violation_date between '2012-01-01T00:00:00' and '2018-01-01T00:00:00'"
)
len(building_violations)

302856

In [28]:
building_violations_list=[[r['id'], int(r['violation_date'][:4]), float(r['longitude']), float(r['latitude']), str(r['longitude'])+','+str(r['latitude'])]for i, r in building_violations.iterrows()]
building_violations_df = pd.DataFrame(building_violations_list, columns=['id', 'year', 'longitude', 'latitude', 'unique'])
building_violations_df.head()

        id  year  longitude   latitude                    unique
0  4061341  2012   -87.6145  41.777844  -87.614500017,41.7778441
1  4061342  2012   -87.6145  41.777844  -87.614500017,41.7778441
2  4061343  2012   -87.6145  41.777844  -87.614500017,41.7778441
3  4061344  2012   -87.6145  41.777844  -87.614500017,41.7778441
4  4061345  2012   -87.6145  41.777844  -87.614500017,41.7778441

In [29]:
geo_building_violations = util.str2points(building_violations_df, 'longitude', 'latitude', 'geo_building_violations.shp')

## Business licences

In [35]:
buss_licences = util.get_data(
    "r5kz-chrr", 
    limit=1000000,
    select="id, application_created_date, longitude, latitude",
    where="application_created_date between '2012-01-01T00:00:00' and '2018-01-01T00:00:00'"
)
len(buss_licences)

53054

In [36]:
buss_licences.head()

                 id application_created_date      longitude      latitude
0  2134198-20120105  2012-01-03T00:00:00.000  -87.626957995  41.853827231
1  2134196-20120821  2012-01-03T00:00:00.000  -87.838385258  41.966453173
2  2134210-20120104  2012-01-03T00:00:00.000  -87.626642244   41.87961637
3  2134211-20120316  2012-01-03T00:00:00.000  -87.736971788    41.9738742
4  2134157-20120103  2012-01-03T00:00:00.000  -87.747402307  41.931414051

In [37]:
buss_licences_list=[[r['id'], int(r['application_created_date'][:4]), float(r['longitude']), float(r['latitude']), str(r['longitude'])+','+str(r['latitude'])]for i, r in buss_licences.iterrows()]
buss_licences_df = pd.DataFrame(buss_licences_list, columns=['id', 'year', 'longitude', 'latitude', 'unique'])
buss_licences_df.head()

                 id  year  longitude   latitude                      unique
0  2134198-20120105  2012 -87.626958  41.853827  -87.626957995,41.853827231
1  2134196-20120821  2012 -87.838385  41.966453  -87.838385258,41.966453173
2  2134210-20120104  2012 -87.626642  41.879616   -87.626642244,41.87961637
3  2134211-20120316  2012 -87.736972  41.973874    -87.736971788,41.9738742
4  2134157-20120103  2012 -87.747402  41.931414  -87.747402307,41.931414051

In [38]:
geo_buss_licences = util.str2points(buss_licences_df, 'longitude', 'latitude', 'geo_buss_licences.shp')